{% extends 'layout/base.html.twig' %}

{% block title %}A propos | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-4xl font-bold mt-8 mb-6 text-center">A propos</h1>
    <p class="mb-4 text-center">Découvrez notre plateforme de freelance pour votre portfolio et vitrine professionnelle.</p>
{% endblock %}
