
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.dev
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###<docker-compose>###
docker-compose.yml
# Dockerfile
/nginx
/.ssh
###</docker-compose>###

### Ignore GitHub Actions workflows for deployment
/.github/workflows/deploy.yml
###</git>###

### Ignore Cursor
.cursor

### Ignore uploaded files (managed by Docker volume)
/public/uploads/
