
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###<docker-compose>###
docker-compose.yml
Dockerfile
/nginx
/.ssh
###</docker-compose>###

### Ignore GitHub Actions workflows for deployment
/.github/workflows/deploy.yml
###</git>###

### Ignore Cursor
.cursor

### Ignore uploaded files
/public/uploads/projects/*.jpg
/public/uploads/projects/*.jpeg
/public/uploads/projects/*.png
/public/uploads/projects/*.gif
/public/uploads/projects/*.webp
/public/uploads/projects/thumbnails/*.jpg
/public/uploads/projects/thumbnails/*.jpeg
/public/uploads/projects/thumbnails/*.png
/public/uploads/projects/thumbnails/*.gif
/public/uploads/projects/thumbnails/*.webp
