{% extends 'layout/base.html.twig' %}

{% block title %}Portfolio | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-4xl font-bold mt-8 mb-6 text-center">Portfolio </h1>
    <p class="mb-4 text-center">Plateforme freelance - ton portfolio et vitrine professionnelle.</p>
{% endblock %}
