{% extends 'layout/base.html.twig' %}

{% block title %}Contact | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-4xl font-bold mt-8 mb-6 text-center">Contact</h1>
    <p class="mb-4 text-center">Pour toute demande, n'hésitez pas à nous contacter.</p>
{% endblock %}
