{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">Bienvenue sur Delnyx!</h1>
    <p class="mt-4">Ceci est la page d'accueil.</p>
{% endblock %}